
{% extends "./base.html" %}

{% load static %}


{% block content %}


    <!-- Introduction section -->

    <section class="py-4 text-center container">

        <div class="row py-lg-5">

            <div class="col-lg-6 col-md-8 mx-auto">


                <h4> SGX Assessment Centre 2024 Sample App </h4>


                <br>


                <p class="lead text-muted">

                You have verified that your system is able to deploy Docker.<br/>
                Thank you and all the best for your assessment !

                </p>


                <br>


            </div>

        </div>


    </section>



{% endblock %}






