
.form-layout{

    border-radius: 20px;
    width: 500px;

}


.product-info {
    height: 100%; /* Set your desired height */
    overflow: hidden; /* Optional: Hide overflowing content */
}
















